In [1]:
# introduction of pandas:-
# pandas dataframe
# pandas series 

import pandas as pd

arr = [[1, 2, 3], [4,5,6]]

# create dataframe
df = pd.DataFrame(arr, columns=['col', 'col2', 'col3'])
print(df)

   col  col2  col3
0    1     2     3
1    4     5     6

In [2]:
import numpy as np

a = np.arange(1, 21).reshape(5, 4)
print(a)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]]

In [3]:
df2 = pd.DataFrame(a, index=['r1', 'r2', 'r3', 'r4', 'r5'], columns=['c1', 'c2', 'c3', 'c4'])
print(df2)

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12
r4  13  14  15  16
r5  17  18  19  20

In [4]:
# get top 5 records
df2.head(1)
df2.head(2)
df2.head(3)
df2.head(4)
df2.head()

# get last top 5 records, basically its gives in descending order:- 
df2.tail(1) # last row
df2.tail(2) # last second row
df2.tail(3) # last third row
df2.tail(4) # last fourth row
df2.tail() # last fifth

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12
r4  13  14  15  16
r5  17  18  19  20

In [5]:
df2.describe()

              c1         c2         c3         c4
count   5.000000   5.000000   5.000000   5.000000
mean    9.000000  10.000000  11.000000  12.000000
std     6.324555   6.324555   6.324555   6.324555
min     1.000000   2.000000   3.000000   4.000000
25%     5.000000   6.000000   7.000000   8.000000
50%     9.000000  10.000000  11.000000  12.000000
75%    13.000000  14.000000  15.000000  16.000000
max    17.000000  18.000000  19.000000  20.000000

In [6]:
# indexing

col = df2[['c1', 'c2']] # --> in this case if we pass col as a 2d df so it's called as dataframes.
print(col)
print(type(col)) 


col2 = df2['c1'] # --> in this case if you want to take one column or row so it's called as series.
print(col2)
print(type(col2))

    c1  c2
r1   1   2
r2   5   6
r3   9  10
r4  13  14
r5  17  18
<class 'pandas.core.frame.DataFrame'>
r1     1
r2     5
r3     9
r4    13
r5    17
Name: c1, dtype: int32
<class 'pandas.core.series.Series'>

In [7]:
# retreive rows from df

# location --> if you know the index name you can use loc method by passing the indexes.
df2.loc[['r1', 'r2']]

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8

In [8]:
# index location using slicing
# if you don't know the name of indexes you can use iloc method for fetching the data.
df2.iloc[0:3, 0:2]

    c1  c2
r1   1   2
r2   5   6
r3   9  10

In [9]:
df2.iloc[2:4, 1:3]

    c2  c3
r3  10  11
r4  14  15

In [10]:
# convert data frame to array
df2.iloc[2:4, 1:3].values

array([[10, 11],
       [14, 15]])

In [11]:
# create df with nan values 
n = [[1, np.nan, 2], [1,3,4], [4,5,6]]
d = pd.DataFrame(n, index=['r1', 'r2', 'r3'], columns=['c1','c2','c3'])
print(d)

# why c2 is considered as floating values because in pandas NaN considered as a
# floating point values that's why it will considered float to each values of c2.

    c1   c2  c3
r1   1  NaN   2
r2   1  3.0   4
r3   4  5.0   6

In [12]:
# how to check mising values in df
d.isnull()

       c1     c2     c3
r1  False   True  False
r2  False  False  False
r3  False  False  False

In [13]:
d.isnull().sum()
d.isna().sum()

c1    0
c2    1
c3    0
dtype: int64

In [14]:
# all information about df
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r1 to r3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      3 non-null      int64
 1   c2      2 non-null      float64
 2   c3      3 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 96.0+ bytes

In [15]:
# count values on series it can be only apply on the series not in a df
d['c1'].value_counts()

c1
1    2
4    1
Name: count, dtype: int64

In [16]:
d['c1'].unique()

array([1, 4], dtype=int64)

In [17]:
e = pd.DataFrame({'a': [1,2,4], 'b': [1,1,1]})
un = e.nunique()
print(un)

e.nunique(axis=0) # it will check every value column wise
e.nunique(axis=1) # it will check row values 
print(e)

a    3
b    1
dtype: int64
   a  b
0  1  1
1  2  1
2  4  1

In [20]:
f = np.arange(1, 21).reshape(5, 4)
df = pd.DataFrame(f)
print(df)

# apply some condition
df[df[1] > 5]
df[0] > 5

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20

0    False
1    False
2     True
3     True
4     True
Name: 0, dtype: bool

In [19]:
df

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20

In [24]:
# read csv file 

rc = pd.read_csv('Employees.csv', header=None)
print(rc)

       0   1        2        3              4  \
0    NaN  ID     NAME  ADDRESS    Designation
1    0.0   1   yogita   ambala            DBA
2    1.0   2  sandeep   ambala            DBA
3    2.0   3     atul   ambala            DBA
4    3.0   4     raja   mohali     Developers
5    4.0   5  shubham      chd     Developers
6    5.0   6    robin       uk     Developers
7    6.0   7    rohit    cantt       Managers
8    7.0   8    sunil  haryana       Managers
9    8.0   9      ram   shimla       Managers
10   9.0  10    mohan    bihar  TestEngineers
11  10.0  11    shaym      goa  TestEngineers
12  11.0  12    ankit   punjab  TestEngineers

                                       5
0                                   UUID
1   b5966880-9925-4c24-9ea5-c0decf42c0e6
2   21057cfb-ef39-4161-a1c2-2f03265117c5
3   b6789f32-cbe3-47e8-9f46-2164375340d4
4   17fb3a5d-73bb-4350-b99d-0cdbb8fdfe56
5   e50d7922-6314-4f35-9754-48e38c0aaf5a
6   ecbe3701-9b2b-4e6c-b5a1-57de6c6b3cc8
7   c9de4ee2-12f4-4ff2-8410-b4191d8dabf7
8   307098cb-0536-497a-88c4-c3376b51124a
9   bd0c9a34-0306-4323-809b-098499620e56
10  6cff8273-8d53-45ce-af03-b8298b959b04
11  f7cce1aa-c144-4d49-88b2-5f6f8dc8a2c6
12  b52c7bd2-1249-4b82-b384-e28020f417ae

In [28]:
j = "{ 'a': 1, 'b': 2,'c': 3,'d': 4 }"
pd.read_json(j)

C:\Users\HARSH\AppData\Local\Temp\ipykernel_12736\2455823492.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(j)

ValueError: Expected object or value